{{ define "tasks/edit" }}
<html>
{{ template "head" . }}

{{ template "navbar" . }}

<body>
  <div class="container">
    <div class="card shadow">
      <div class="card-header">
        Create Task
      </div>
      <div class="card-body">
        {{ if .error }}
        <div class="alert alert-danger">{{ .error }}</div>
        {{ end }}
        {{ template "tasks/form" . }}
      </div>
    </div>
  </div>
</body>

</html>
{{ end }}