{{define "tasks/index"}}
<html>
{{ template "head" . }}

{{ template "navbar" . }}

<body class="bg-dark text-white">
  <div class="p-5">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
      </thead>
      <tbody>
        {{ range $index, $task := .tasks }}
        <tr>
          <td>{{$task.Name}}</td>
          <td>
            <span class="badge bg-primary rounded-pill">{{$task.Status}}</span>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</body>

</html>
{{end}}