{{define "tasks/index"}}
<html>
{{ template "head" . }}

{{ template "navbar" . }}

<style>
  table {
    font-size: 24px;
  }
</style>

<body class="bg-dark">
  <div class="p-5">
    <table class="table">
      <thead class="text-white">
        <tr>
          <th>Name</th>
          <th>Status</th>
      </thead>
      <tbody>
        {{ range $index, $task := .tasks }}
        <tr>
          <td>
            <a href="/task/{{ $task.ID }}" class="text-decoration-none">{{$task.Title}}</a>
          </td>
          <td>
            <span class="badge {{ StatusColor $task.Status }} rounded-pill">{{$task.Status}}</span>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</body>

</html>
{{end}}