{{define "tasks/show"}}
<html>
{{ template "head" . }}

{{ template "navbar" . }}

{{ $task := .task}}

<body>
  <div class="p-5">
    <h1>
      {{ $task.Title }}
      <span class="badge {{ StatusColor $task.Status }}">{{
        $task.Status}}</span>

      <a href="{{ $task.ID }}/edit">EDIT</a>
    </h1>

    <h3>
      Assignee:
      {{ if ne $task.User nil }}
      <a href="/user/{{ $task.User.ID }}">{{ $task.User.Name }}</a>
      {{ end }}
    </h3>

    <div class="card ">
      <div class="card-body">
        <p class="card-text">
          {{ if ne $task.Description nil }} {{ $task.Description }} {{ else }}
          no description {{ end }}
        </p>
      </div>
    </div>
  </div>
</body>

</html>
{{end}}